{% extends 'records/base.html' %}


{% load static %}


{% block content %}
    <!-- HOME -->

    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('../../images/hero_1.jpg');"
             id="home-section">
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-7">#}
{#                    <h1 class="text-white font-weight-bold">{{ job.position }}</h1>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </section>s


    <section class="site-section pt-5">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div class="border p-2 d-inline-block mr-3 rounded-circle">
                            <img class="rounded-circle" src="{{ job.provider.id.profile_photo.url }}"
                                 alt="Free Website Template By Free-Template.co" width="75" height="75">
                        </div>
                        <div>
                            <h2>{{ job.position }}</h2>
                            <div>
                                <a href="{% url 'list_provider_details' job.provider.id.id %}" class="ml-0 mr-2 mb-2"><span
                                        class="icon-briefcase mr-2"></span>{{ job.provider }}</a>
                                <span class="m-2"><span class="icon-room mr-2"></span>{{ job.provider.address.vdc_municipality.district }}</span>
                                <span class="m-2"><span class="icon-clock-o mr-2"></span><span
                                        class="text-primary"> {% if job.ispartime %}Part Time{% else %}Full Time{% endif %}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        {% if request.user.is_authenticated and request.user.profile_type == 'A' %}
                        <div class="col-6">
                          <button id="applied-feedback" class="btn btn-block btn-success btn-md">Applied</button>
                          <button id="apply-now-button" class="btn btn-block btn-primary btn-md">Apply Now</button>
                          <a id="apply-link" href="{% url "apply_for_job" vacancy.id %}" style="display: none"></a>
                        </div>
                        {% endif %}
                        {% if request.user.is_authenticated and request.user.profile_type == 'P' and job.provider.id.id == request.user.id %}
                        <div class="col-lg-3 pl-4">
                          <a href="{% url 'job_update' job.id %}" class="btn btn-dark btn-md ml-auto">Edit</a>
                        </div>
                        <div class="col-lg-9 pl-4 pr-5">
                          <a href="{% url "vacancy_register" job.id %}" id="create-vacancy-button" class="btn btn-block btn-primary btn-md">Create New Vacancy</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                                class="icon-align-left mr-3"></span>
                            Description</h3>
                        <p style="color: #2a2a2a">{{ job.description }}</p>
                    </div>


                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Experience
                        </h3>
                        <ul class="list-unstyled m-0 p-0" style="color: #2a2a2a">
                            {% for i in job.min_required_experience.all %}
                            <li class="d-flex align-items-start mb-2"><span
                                    class="icon-check_circle mr-2 text-muted"></span>
                                <span>{{ i }}</span>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                                class="icon-align-left mr-3"></span>Skills
                            </h3>
                        <p>{% for i in job.required_skills.all %}
                            <li style="color: #2a2a2a">{{ i.name }}&nbsp;
                        {% endfor %}
                        </p>
                    </div>
                    
                  </div>
                  <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                      <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Summary</h3>
                      <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"><strong class="text-black">Employment
                          Status:</strong> {% if job.ispartime %}Part Time{% else %}Full Time{% endif %}</li>
                          <li class="mb-2"><strong class="text-black">Job Location:</strong> {{ job.provider.address.full_address }}</li>
                        </ul>
                      </div>
                      
                      <div class="bg-light p-3 border rounded">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
                        <div class="px-3">
                          <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                          <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                          <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                          <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  {% if job.vacancy.all|length > 0 %}
                  <div class="mb-5">
                      <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                              class="icon-align-left mr-3"></span>Vacancies
                          </h3>
                          <div class="container pl-0">
  
                            <div class="mb-5">
                    
                              <div class="row align-items-start job-item border-bottom pb-3 mb-2 pt-3">
                                  <div class="col-md-2" style="text-align:center">
                                    <h2 style="font-weight:900">S.N.</h2>
                                  </div>
                                  <div class="col-md-2 text-md" style="text-align:center">
                                    <h2 style="font-weight:900">Announced Date</h2>
                                  </div>
                                  <div class="col-md-2 text-md" style="text-align:center">
                                      <h2 style="font-weight:900">Deadline Date</h2>
                                  </div>
                                  <div class="col-md-2 text-md" style="text-align:center">
                                      <h2 style="font-weight:900">Applications</h2>
                                  </div>
                                  <div class="col-md-4 text-md" style="text-align:center">
                                      <h2 style="font-weight:900">Action</h2>
                                  </div>
                              </div>
  
                              {% for vacancy in job.vacancy.all %}
                              <div class="row align-items-start job-item border-bottom pb-4 mb-3 pt-3">
                                <div class="col-md-2" style="text-align:center">
                                  <h3 class="mt-2">{{ forloop.counter }}</h3>
                                </div>
                                <div class="col-md-2 text-md" style="text-align:center">
                                  <h3 class="mt-2">{{ vacancy.announced_date.date }}</h3>
                                </div>
                                <div class="col-md-2 text-md" style="text-align:center">
                                  <h3 class="mt-2">{{ vacancy.deadline_date.date }}</h3>
                                </div>
                                <div class="col-md-2 text-md" style="text-align:center">
                                  <h3 class="mt-2">{{ vacancy.applications.all|length }}</h3>
                                </div>
                                <div class="col-md-4 text-md" style="text-align:center">
                                    <a href="{% url 'list_vacancy_details' vacancy.id %}" class="btn btn-dark btn-small py-2 px-3 ml-auto">View</a>
                                    <a href="{% url 'vacancy_update' vacancy.id %}" class="btn btn-dark btn-small py-2 px-3 ml-2">Edit</a>
                                    <button id="delete-vacancy-button-{{vacancy.id}}" class="btn btn-danger btn-small py-2 px-3 ml-2" onclick="confirmVacancyDelete('{{vacancy.id}}')">Delete</a>
                                    <a id="delete-vacancy-link-{{vacancy.id}}" href="{% url 'vacancy_delete' vacancy.id %}" style="display: none"></a>
                                </div>
                              </div>
                              {% endfor %}
                            </div>
                          </div>
                  </div>
                  {% endif %}
                </div>
    </section>



{% endblock %}


{% block script %}
{% if request.user.is_authenticated and request.user.profile_type == 'A' %}
<script>
  const applyNow = document.getElementById('apply-now-button');
  const applied = document.getElementById('applied-feedback');
  var hidden = false
  '{% for applicant in vacancy.applications.all %}'
  '{% if applicant.id == request.user %}'
    var hidden = true
    applyNow.style.display = 'none';
  '{% endif %}'
  '{% endfor %}'
  if (!hidden) applied.style.display = 'none'
</script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.6/dist/sweetalert2.all.min.js"></script>
<script src="{% static 'js/delete-vacancy-modal.js' %}"></script>
{% endblock script %}